
/*..............Inicio................*/
  
  /* main */

.main{
  display: flex;
    padding: 0.5rem;
    position: relative;
    background-image: url(https://wallpaperaccess.com/full/2076086.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-attachment: scroll;
}
.main__container{
   max-width: 1200px;
   margin: 0 auto;
   height: 91.3vh;
   flex-direction: column;
   padding-bottom: 175px;
   @include crearflex(center, center)  
}
.main__h1{
    font-size: 5em;
    font-weight: normal;
    color: #E6E6E6;
}
.main__h2{
    font-size: 2em;
    color: #e9893a;
    font-family: raleway;
} 
.main__p{
    font-size: 1.5em;
    font-weight: bold;
    color: #191919;
    border: 2px double #86CE05;
    outline: 1.5px solid black;
    outline-offset: -9px;
    padding: 8px 8px;
    margin: 5px;
    box-sizing: content-box;

}
  .main__p{
  animation-duration: 3.5s;
  animation-name: p;
  animation-iteration-count: infinite;
}

@keyframes p {
  0% {
    opacity: 0.9;
    color: black;
  }
  100% {
    opacity: 1;
    color: white;
  }
}
.containervendidos{
  position: relative;
  border-bottom: 2px solid #b89c75; 
  background-image: linear-gradient(to top, #f9f8f7, #f5eee8, #f1e5da, #eddbcc, #e9d1be);
}
.bestsellers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 7px;

}
.textosellers{
  font-size: 26px;
  text-align: center;
  font-family: raleway;
  padding: 8px 8px 0px;
  text-decoration: underline #b89c75;
}
.vendidos{
   padding: 10px;
   height: 100%;
   border: 1px solid black;
}
.bestsellers-imagen{
   width: 250px;
   height: 250px;
}
.card-body{
  line-height: 8px;
  text-decoration: none;
  padding: 3px;
}
.boton{
  background-color: #351d15;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 6px;
}
/*.....ofertas.......*/
.inicio-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 317.9px);
  row-gap: 4rem;
  column-gap: 4rem;
  width: 100%;
  margin: 0rem auto;
  border-bottom: 3px solid #e9893a;
  padding: 50px;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  
}  
.inicio-grid__container img{
  width: 75%;
  height: 100%;
}

/* animacion */
/*.....imagen... 1 */
.overlay-inicio1{
  background-image: url("../assets/images/ofertas2-2.png");
  background-position: center;
   background-size: cover;
  height: 101%;
  opacity: 0;
  z-index: 1;
  overflow: hidden;
  transform: translate(0%, -100%);
  transition: 0.5s ease;
  position: relative;
}
.overlay-inicio1  a{
  text-decoration: none;
}
.inicio-grid__container:hover .overlay-inicio1{
  opacity: 1;
}
.inicio-overlay__title1{
font-size: 25px;
text-align: center;
margin-top: 160px;
color: white;
}
/*.....imagen... 2 */
.overlay-inicio2{
  background-image: url("https://wallpaperaccess.com/full/2076086.jpg");
  background-position: center;
   background-size: cover;
  height: 101%;
  opacity: 0;
  z-index: 1;
  overflow: hidden;
  transform: translate(0%, -100%);
  transition: 0.5s ease;
  position: relative;
}
.inicio-grid__container:hover .overlay-inicio2{
  opacity: 1;
}
.inicio-overlay__title2 {
    font-size: 29px;
    text-align: center;
    margin-top: 94px;
    color: #f9f8f7;
}
/*.....imagen... 3*/
.overlay-inicio3{
  background-image: url("../assets/images/ofertas4.png");
  background-position: center;
   background-size: cover;
  height: 101%;
  opacity: 0;
  z-index: 1;
  overflow: hidden;
  transform: translate(0%, -100%);
  transition: 0.5s ease;
  position: relative;
}
.overlay-inicio3  a{
  text-decoration: none;
}
.inicio-grid__container:hover .overlay-inicio3{
  opacity: 1;
}
.inicio-overlay__title3{
font-size: 25px;
text-align: center;
margin-top: 160px;
color: white;
}

/*............... Contactos........... */
     /* main*/
.contactos-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 633.9px);
  row-gap: 0.3rem;
  column-gap: 0.3rem;
  width: 100%;
  margin: 0rem auto;
  border: 2.5px solid  white;
  cursor: pointer;
  background-position: center;
   background-size: cover;
} 
.contactos-grid__container img{
  width: 100%;
  height: 633.9px;
  border: 1.5px solid black;

}
#carouselExampleControls{
  height: 100%;
}
.carousel-inner{
  height: 100%;
}
.carousel-inner img{
  
}
   /*formulario*/
.contacto-main{
   line-height: 25px;
   font-size: 25px;
   font-weight: normal;
   padding: 15.5px;
   text-align: center;
   border: 1.5px solid black;   
   margin: auto;
   color: #0b0b0c;

  background-image: linear-gradient(to top, #f9f8f7, #f5eee8, #f1e5da, #eddbcc, #e9d1be);
  background-position: center;
  background-size: cover;
}
.white:hover{
      color: black;
      background-color: #FFFFFF;
      border-radius: 0.4em;
      width: 640px;
}
.colorverde{
  color: #e9893a;
  font-family: raleway;
  font-size: 38px;
  text-decoration: underline 1.4px #e9893a;
}
.contacto__texto a{
  color: black;
}
.contacto__li:hover i{ 
    color: #108040;
}
.contacto__li{
  list-style: none;
}
.contacto__formulario{
  box-sizing: border-box;
}
form label{ 
  display: inline-block;
  width: 100px;
}
.contacto__input{
  display: inline-block;
  width: 200px;
  height: 30px;
  margin-top: 10px;
}
.contacto__textarea{
  display: inline-block;
  width: 300px;
  height: 50px;
  margin-left: 50px;
  margin-top: 10px;
}
.contacto__bottom{
  margin-left: 50px;
}
.contacto__submit{
  border-color: #108040;
  border: 2px solid #108040;
  border-radius: 6px;
  line-height: 20px;
  font-size: 17px;
}
.contacto__restablecer{
   border-color: #108040;
   border: 2px solid #108040;
   border-radius: 6px;
   line-height: 20px;
   font-size: 17px;
}
.mapa{
   text-align: center;
   padding-bottom:70px;
   padding-top: 70px;
   border-bottom: 2px solid #e9893a;
   
}
.mapa2{
   height: 400px;
   background-size: cover;
   border-radius: 38px;
   border: 1px solid #e9893a;
}
  

     

/* ................Nosotros............ */
  /* main*/
.nosotros-main__container{
  border: 4px solid white;
}
.nosotros-grid__items{
  flex-direction: column;
  padding: 5px;
  
  @include crearflex(center, center)
}
.col-12fondo{
  background-image: linear-gradient(to top, #f9f8f7, #f5eee8, #f1e5da, #eddbcc, #e9d1be);
  background-position: center;
  background-size: cover;
  border: 1px solid black;

}
.row {
   --bs-gutter-x: 0rem;
}

.empleado{
   padding: 10px;
   margin-top: 10px;
   height: 100%;
}
.empleado-imagen{
   width: 100px;
   height: 100px;
}
.btn {
  background-color: #e9893a;
}
.btn-secondary:hover {
  background-color: #198754;
    
}
.nombre{
  font-family: raleway;
}
.nosotros__h2{
  font-size: 45px;
  margin-left: 10px;
  padding-top: 15px;
  text-decoration: underline 1.4px #e9893a;
  font-family: raleway;
}
.nosotros__parrafo{
  text-align:center; 
  margin-left: 5px;
  font-size: 25px;
  padding: 10px 27px 0px;
}
.nosotros-grid__items1{
  flex-direction: column;
  padding: 2px;
  border: 1px solid black;
  
  @include crearflex(center, center)
}
.nosotros-grid__items1 video{
  width: 100%;
  height: 100%;
  
}
.nosotrosfinal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  border-bottom: 2px solid #e9893a;
}
.card-info {
    display: flex;
    flex-direction: column;
    background-color: #E6E6E6;
    width: 25%;
}
.card__title{
  text-align: center;
  padding-top: 2.5rem;
}
.card__body1{
  width: 100%;
  font-size: 19px;
  padding: 10px 10px 0px;
  padding-left: 15px;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 0px;
}

 
     
/*............... Productos.......... */
     /* main*/ 

.containerproductos{
  border-bottom: 3px solid #e9893a; 
  background-image: linear-gradient(to bottom, #f9f8f7, #f5eee8, #f1e5da, #eddbcc, #e9d1be);
}
.containerproductos a{
  text-decoration: none;
  position: relative;
}
.containerproductos2{
  border-bottom: 3px solid #e9893a; 
  background-image: linear-gradient(to top, #f9f8f7, #f5eee8, #f1e5da, #eddbcc, #e9d1be);
}
.productos2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 7px;
}
.textoproductos{
  font-size: 25px;
  text-align: center;
  padding: 2px;
  text-decoration: underline;
  color: black;
  padding-top: 15px;
  font-family: raleway;
}

.productostargetas{
   padding: 10px;
   height: 100%;
   border: 1px solid black;
}
.producto-imagen{
   width: 250px;
   height: 250px;
}
.card-productos{
  line-height: 8px;
  text-decoration: none;
  padding: 3px;
}
.boton-comprar{
  background-color: #351d15;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 6px;
} 
.btn-primary:hover{
  background-color: #198754;
} 


    
/* ..............Servicios............ */
      /*.....main.....*/
.fondo{
  background-color: white;
  background-image: none;
}
.servicios-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.5rem;
  width: auto;
  margin: 2rem;
  cursor: pointer; 
} 
.servicios-grid__container img{
  width: 100%;
  height: 100%;
}
.servicios-grid__container1{
  background-image: linear-gradient(to bottom, #f9f8f7, #f5eee8, #f1e5da, #eddbcc, #e9d1be);
  text-align: center;
  height: auto;
  font-size: 29px;
  padding: 50px;
  line-height: 2rem;
  border: 0.2px solid black; 
}
.botton{
  margin-bottom: 0rem;
}

.servicios-grid__container2{
  position: relative;
  background-image: url("https://wallpaperaccess.com/full/2076086.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}
.servicios-grid__container2 a{
  position: absolute;
  top: 145px;
  right: 29%;
  color: white;
  font-size: 49px;
}
.servicios-grid__container2 img{
  width: 100%;
  height: 100%;
}
#textoservicios{
  font-size: 4rem;
  font-family: raleway;
  position: absolute;
  top: 120px;
  right: 29%;
  color: white;
  text-decoration: underline white;
}


body[data-aos-duration="400"] [data-aos] {
    transition-duration: .9s;

}
.servicios-grid__container6{
  text-align: center;
  padding: 39px 30px 0px;
  color: black;
  font-size: 23px;
  line-height: 2rem;
  border: 0.2px solid black; 
  background-image: linear-gradient(to top, #f9f8f7, #f5eee8, #f1e5da, #eddbcc, #e9d1be);
}
.servicios-grid__container6 a{
  color: #ef705c;
}
.servicios-grid__container video{
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: 0.2px solid black; 
}
.servicios-grid__container8{
  text-align: center;
  color: black;
  position: relative;
  border: 0.2px solid black;
  
}
.titulo8{
  position: absolute;
  border: 2px solid black;
  top: 55px;
  right: 20%;
  padding: 5px;
  font-family: raleway; 
}
.titulo8 i{
  color: #ef705c;
}
.titulo82{
  position: absolute;
  top: 340px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}
.servicios-grid__container9{
  position: relative;
  text-align: center;
  padding: 5px;
  border: 0.2px solid black; 
  background-image: linear-gradient(to top, #f9f8f7, #f5eee8, #f1e5da, #eddbcc, #e9d1be);
}
.titulo9{
  position: absolute;
  border: 2px solid black;
  top: 35px;
  right: 12%;
  padding: 5px; 
  font-family: raleway;
}
.titulo9 i{
  color: #ef705c;
}
.titulo91{
  text-align: center;
  padding: 30px;
  padding-top: 95px;
  margin-bottom: 0rem;
  font-size: 20px;
}
.foto{
  width: 60%;
  height: 40%;
}














    