

$primary-color: #108040;
$secondary-color: #E6E6E6;


$espaciado: 1rem;
$espaciados: (
      
      0: 0,
      1: $espaciado * 0.25,
      2: $espaciado * 0.5,
      3: $espaciado,
      4: $espaciado * 1.5,
      5: $espaciado * 3,
);






